* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family:
      system-ui,
      -apple-system,
      BlinkMacSystemFont;
}

.hidden {
   display: none !important;
}

.element {
   position: absolute;
   touch-action: none;
   width: fit-content;
   pointer-events: none;
   padding: 2px;
   word-break: break-all;
   overflow-wrap: break-word;
   /* text-wrap: nowrap; */
}

.page {
   border-radius: 10px;
   box-shadow: 0px 0px 20px #22222250;
   border: 1px solid #20202010;
   position: relative;
}

.focused {
   border: 5px solid #60e0ff;
}

.k-icon {
   width: 25px;
   height: 25px;
}

.k-option {
   padding: 0.6rem;
   box-shadow: 2px 2px 10px #20202050;
   border-radius: 5px;
}
